/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

/*.nav-tabs-custom > .nav-tabs > li.active > a{
    position: relative;
    background-color: #3c8dbc !important;
    border-bottom: 1px solid #fff;
    color: #fff;
    border-top-color: #3c8dbc;
    z-index: 5;
}

.nav-tabs-custom > .nav-tabs > li.active {
    background-color: #3c8dbc !important;
}

.nav-tabs-custom > .nav-tabs > li {
    border-top: 0px solid transparent;
    border-top-color: #FFF;
}*/
